apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  labels:
    app: netlab-postgres
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  labels:
    app: netlab-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: netlab-postgres
  template:
    metadata:
      labels:
        app: netlab-postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          valueFrom:
            configMapKeyRef:
              name: netlab-config
              key: DB_DATABASE
        - name: POSTGRES_USER
          valueFrom:
            configMapKeyRef:
              name: netlab-config
              key: DB_USERNAME
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: netlab-secrets
              key: DB_PASSWORD
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-storage
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: db
  labels:
    app: netlab-postgres
spec:
  ports:
  - port: 5432
  selector:
    app: netlab-postgres
